html {
    scroll-behavior: smooth !important;
    transition: 1s;
  }
body
{
    font-family: 'Inter', sans-serif !important;
    background-color: gray !important;
    background-repeat:inherit;
    margin: 0 auto;
}
.sekcja1_menu_h
{
    display: none;
}
.container-xl
{
    max-width: 1640px !important;
}
.container-lg
{
    max-width: 1160px !important;
}
.logo
{
    width: 403px;
    height: 121px;
    margin-top: 56px;
}
.sekcja1_menu
{
    margin: 0 auto;
    text-align: center;
    float: right;
    width: 815px;
}
.menu
{
    width: 175px;
    height: 53px;
    border-radius: 18px;
    margin-top: 90px;
    margin-left: 25px;
    text-align: center;
    background-color: #3c3c3a;
    color: white;
    border: none;
    transition: 0.25s;
}
.menu:hover
{
    transform:scale(1.05);
}
.sekcja1_all
{
    background: url("img/hero.jpg");
    background-size: 2400px 1920px;
    background-position: center;
    height:1080px;
}
.sekcja1_tittle
{
    margin: 0 auto;
    margin-top: -190px;
    text-align: center;
}
.sekcja1_all h1
{
    font-size: 75px;
    font-weight: 500;
    margin-top: 401px;
}
.sekcja1_all h3
{
    font-size: 45px;
    font-weight: 300;
}
.naglowek
{
    font-size: 60px;
    font-weight: 600;
    color: white;
    padding-top: 133px;
}
.profilowe
{
    width: 309px;
    height: 463px;
    border-radius: 18px;
    margin-top: 71px;
}
.sekcja2_all
{
    height: 1080px;
    background-color: #303030 !important;
}
.sekcja2_prawo
{
    color: white;
    margin-top: 237px;
}
.sekcja2_prawo p
{
    width: 90%;
    font-size: 19px;
}
.sekcja2_all .naglowek
{
    margin:0 auto;
    text-align: center;
}
.sekcja3_all
{
    text-align: center !important;
    height:1080px;
    background-color: #1A1A1A;
    color: white;
}
.sekcja3_all p
{
    font-size: 22px;
}
.skill_bars
{
    margin-top: 150px;
}
.skills_full
{
    width: 873px;
    height: 52px;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom:20px;
    margin-bottom: 55px;
}
.skills_progress_30
{
    background-color: #84FF8C;
    width: 30%;
    height: 52px;
    border-radius: 30px;
}
.skills_progress_60
{
    background-color: #84FF8C;
    width: 60%;
    height: 52px;
    border-radius: 30px;
}
.skills_progress_90
{
    background-color: #84FF8C;
    width: 90%;
    height: 52px;
    border-radius: 30px;
}
.skills_progress_80
{
    background-color: #84FF8C;
    width: 80%;
    height: 52px;
    border-radius: 30px;
}
.skills_progress_45
{
    background-color: #84FF8C;
    width: 45%;
    height: 52px;
    border-radius: 30px;
}
.sekcja4_all
{
    text-align: center;
    background-color: #303030;
    height: 1080px;
}
#naglowek_sekcja4
{
    margin-bottom: 125px;
}
.projekty_img
{
    width: 485px;
    height: 485px;
    border-radius: 18px;
    transition: 0.25s;
}
.projekty_img:hover
{
    transform: scale(1.03);
}
.sekcja5_all
{
    text-align: center;
    background-color: #1A1A1A;
    height: 1080px;
}
.sekcja5_all button
{
    width: 276px;
    height: 114px;
    border-radius: 18px;
    border: none;
    background-color: white;
    transition: 0.25s;
}
.sekcja5_all button:hover
{
    transform: scale(1.03);
}
.sekcja5_all #kontakt
{
    margin-top: 60px;
}
#naglowek_sekcja5
{
    margin-bottom: 40px;
}
.linki_img
{
    width: 239px;
}
.form_all
{
    margin-top: -10px;
}
.form
{
    width: 400px;
    height: 40px;
    border-radius: 18px;
    margin-bottom: 30px;
    text-align: center;
    border: none;
}
.form_large
{
    text-align: center;
    width: 400px;
    height: 180px;
    border-radius: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    border: none;
}
.send
{
    width: 210px;
    height: 57px;
    border-radius: 10px;
    font-weight: 700 !important;
    border: none;
    background-color: white;
    transition: 0.25s;
}
.send:hover
{
    transform: scale(1.05);
}
#arrow
{
    width: 50px;
    height: 50px;
    top: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    transition: 0.5s;
}
#arrow:hover
{
    margin-top: 30px;
    transform: scale(1.05);
}


@media (max-width: 1570px)
{
    .projekty_img
{
    width: 380px;
    height: 380px;
    margin-bottom: 20px;
}
@media (max-width: 1320px)
{
    .logo
    {
        width: 322px;
        height: 97px;
        margin-top: 70px;
    }
}
}
@media (max-width: 1199px)
{
    .sekcja1_all
    {
        background-position: 2100px 1545px;
    }
    .naglowek
    {
        padding-top: 50px;
    }
    .sekcja1_menu
    {
        float:inherit;
    }
    .sekcja1_all
    {
        text-align: center;
    }
    .sekcja1_tittle
    {
        margin-top: -240px;
    }
    .sekcja2_all
    {
        text-align: center;;
    }
    .sekcja2_prawo
    {
        margin-top: 70px;
    }

    .sekcja2_prawo p
    {
        width: 100%;
        padding: 30px;
    }
    .skill_bars
    {
        margin-top: 80px;
    }
    .projekty_img
    {
        width: 290px;
        height: 290px;
    }
    #naglowek_sekcja4
    {
        margin-bottom: 20px;
    }
    .sekcja5_lewo, .sekcja5_srodek
    {
        margin-bottom: 20px !important;
    }
    #naglowek_sekcja5
    {
        margin-bottom: 25px;
    }
    .sekcja5_all button
    {
        width: 246px;
        height: 100px;
    }
    .linki_img
    {
        width: 200px;
    }
    .skills_full
    {
        width: 698px;
    }
}
@media (max-width: 1080px)
{
    .sekcja1_all
    {
        background-position: 2100px 1565px;
    }
}
@media (max-width: 850px)
{
    .sekcja1_menu
    {
        display: none;
    }
    .sekcja1_all
    {
        background-position: 2100px 1540px;
    }
    .sekcja1_tittle
    {
        margin-top: -140px;
    }
}
@media (max-width: 720px)
{
    .skills_full
    {
        width: 558px;
    }
}
@media (max-width: 585px)
{
    .skills_full
    {
        width: 446px;
    }

    .profilowe
    {
        width: 216px;
        height: 324px;
        border-radius: 18px;
        margin-top: 71px;
    }
    .naglowek
    {
        font-size: 50px;
        font-weight: 600;
        color: white;
        padding-top: 50px;
    }
    #naglowek_sekcja4
    {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    #naglowek_sekcja5
    {
        padding-top: 50px;
    }
    .sekcja1_all h1
    {
        font-size: 55px;
        font-weight: 500;
        margin-top: 401px;
    }
}
@media (max-width: 463px)
{
    .sekcja1_all
    {
        background-position: 2100px 1480px;
    }
    .skills_full
    {
        width: 356px;
    }
    .sekcja1_all h1
    {
        font-size: 45px;
        font-weight: 500;
        margin-top: 401px;
    }
    .sekcja1_tittle
    {
        margin-top: -170px;
    }
    .logo
    {
        width: 322px;
        height: 97px;
        margin-top: 56px;
    }
    .form
    {
        width: 300px;
        height: 30px;
        border-radius: 18px;
        margin-bottom: 30px;
        text-align: center;
        border: none;
    }
    .form_large
    {
        text-align: center;
        width: 300px;
        height: 150px;
        border-radius: 18px;
        line-height: 30px;
        margin-bottom: 30px;
        border: none;
    }
}
@media (max-width: 400px)
{
    .skills_full
    {
        width: 284px;
    }
    .sekcja2_prawo
    {
        margin-top: 40px;
    }
    .naglowek
    {
        font-size: 40px;
    }
    .sekcja2_prawo
    {
        margin-top: 20px;
    }
    .profilowe
    {
        margin-top: 40px;
    }
}