body
{
    font-family: 'Inter', sans-serif !important;
    background-color: gray !important;
    margin: 0 auto;
}
.container-xl
{
    max-width: 1640px !important;
}
.logo
{
    width: 403px;
    height: 121px;
    margin-top: 56px;
}
.sekcja1_menu
{
    margin: 0 auto;
    text-align: center;
}
.menu
{
    width: 175px;
    height: 53px;
    border-radius: 18px;
    margin-top: 90px;
    margin-right: 25px;
    text-align: center;
    background-color: #3c3c3a;
    color: white;
}
.sekcja1_all h1
{
    font-size: 75px;
    font-weight: 500;
    margin-top: 401px;
}
.sekcja1_all h3
{
    font-size: 45px;
    font-weight: 300;
}
.naglowek
{
    font-size: 60px;
    font-weight: 600;
    color: white;
    padding-top: 133px;
}
.profilowe
{
    width: 309px;
    height: 463px;
    border-radius: 18px;
    margin-top: 71px;
}
.sekcja2_all
{
    height: 1080px;
    background-color: #303030 !important;
}
.sekcja2_all p
{
    color: white;
    margin-top: 237px;
}
.sekcja2_all .naglowek
{
    margin:0 auto;
    text-align: center;
}
.sekcja3_all
{
    text-align: center !important;
    height:1080px;
    background-color: #1A1A1A;
    color: white;
}
.sekcja3_all p
{
    font-size: 22px;
}

.umiejetnosci_jpg
{
    width: 485px;
    height: 485px;
    border-radius: 18px;
}
.sekcja4_all
{
    text-align: center;
    background-color: #303030;
    height: 1080px;
}
.sekcja5_all
{
    text-align: center;
    background-color: #1A1A1A;
    height: 1080px;

}
.sekcja5_all button
{
    width: 276px;
    height: 114px;
    border-radius: 18px;
}
.sekcja5_all #kontakt
{
    margin-top: 60px; 
}
.linki_img
{
    width: 239px;
}
.form
{
    width: 400px;
    height: 40px;
    border-radius: 18px;
    margin-bottom: 30px;
}
.form_1
{
    width: 400px;
    height: 180px;
    border-radius: 18px;
    margin-bottom: 30px;
}
.send
{
    width: 210px;
    height: 57px;
    border-radius: 10px;
    font-weight: 700 !important;
    
}
.sekcja1_all
{
    background: url("img/hero.jpg");
    background-position: center;
    height:1080px;
}
.sekcja1_tittle
{
    margin: 0 auto;
    text-align: center;
}

.skills_full
{
    width: 873px;
    height: 52px;
    background-color: white;
    border-radius: 18px;
    margin: 0 auto;
    margin-bottom:20px;
}
.skills_progress
{
    background-color: #84FF8C;
    width: 500px;
    height: 52px;
    border-radius: 18px;
}